.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__user-info
      .Side-bar__user-name__user-info--user
        = current_user.name
      .Side-bar__user-name__user-info--icon
        = link_to "#", class: "Side-bar__btn" do
          = icon('far', 'edit', class: "Side-bar__btn--edit")
        = link_to edit_user_path(current_user), class: "Side-bar__btn" do
          = icon('fas', 'cog', class: "Side-bar__btn--cog")
  .Side-bar__group
    .Side-bar__group__list
      .Side-bar__group__list--group-name
        techcamp
      .Side-bar__group__list--new-message
        まだメッセージがありません
